@media (min-width: 901px){
    .heading{
        grid-column: 1/1;
        grid-row: 1;
    }
    h1{
        color: #ed1b24;
    }
    .link{
        color: #ed1b24;
    }
    .top{
        position: relative;
        top:-5%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 10px 25px;
        grid-auto-rows: minmax(100px, auto);
    }
    .blowbackLeft{
        grid-column: 1/2;
        grid-row: 2;
        
    }
    .blowbackRight{
        grid-column: 2/2;
        grid-row: 2;
        
    }
    .bbpistol{
        float: right;
        margin-left: 5%;
        height: auto;
        max-width: 375px
    }
    .blowbackBlog{
        grid-row: 3;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        grid-auto-rows: minmax(100px, auto);
    }
    .blowbackBlog h2{
        color: white;
        font-size: 10;
        grid-column: 1/1;
        grid-row: 2;
        margin: 1% 0 0 15%;
    }
    .blog{
        width: 100%;
        height: 100%;
        grid-column: 1/1;
        grid-row: 2;
        padding-bottom: 5%;
        background: url('http://test.umarexusa.com/images/uploaded/img/Blowback%20Air%20Pistols/blockIMG.jpeg') no-repeat;
    }
    .blogText{
        font-size: 14px;
        font-weight: bold;
        color: white;
        grid-column: 1/1;
        grid-row: 2;
        margin-left: 3%;
        width: 50%;
        text-align: center;
    }
    .blogButton{
        width: 200px;
        height: 35px; 
        color: #ed1b24;
        border: none;
        grid-column: 1/1;
        grid-row: 2;
        transition: all .6s ease-in-out;
    }
    .blogButtons{
        grid-column: 1/1;
        grid-row: 2;
    }
    .blogButton:hover{
        transform: scale(1.2);
    }
    .fourcolumns{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px 2px;
        grid-auto-rows: minmax(100px, auto);
    }
    .BB{
        grid-column: 1/4;
        grid-row: 1;
        grid-column-end: 2;
        border-right: 2px solid rgb(179, 179, 179);
    }
    .Pellet{
        grid-column: 2/4;
        grid-row: 1;
        padding-left: 25px;
        grid-column-end: 3;
        border-right: 2px solid rgb(179, 179, 179);
    }
    .CO2{
        grid-column: 3/4;
        grid-row: 1;
        padding-left: 25px;
        border-right: 2px solid rgb(179, 179, 179);
    }
    .greenGas{
        grid-column: 4/4;
        grid-row: 1;
        padding-left: 25px;
        
    }
    .imgResize{
        height: auto;
        max-width: 200px;
    }
    .listButton{
        color: white;
        background-color: red;
        border: none;
        padding: 6px 40px;
        transition: all .6s ease-in-out;
    }
    .listButton:hover{
        transform: scale(1.2);
    }
    li{
        padding-top: 2%;
        padding-bottom: 2%;
    }
    .lawsText{
        font-size: 10px;
    }
}

@media (max-width: 900px){

    .heading{
        grid-column: 1/1;
        grid-row: 1;
    }
    .heading h1{
        color: #ed1b24;
        line-height: 1em;
        margin-bottom: 5%;
    }
    .link{
        color: #ed1b24;
    }
    .top {
        text-align: left;
    }
    .top h2 {
        font-size: 1.25em;
        line-height: 1em;
    }
    .blowbackLeft{
        grid-column: 1/1;
        grid-row: 2;
        padding-bottom: 10%;
        padding-right: 5%;
        font-size: large;
    }
    .blowbackRight{
        grid-column: 1/1;
        grid-row: 3;
        max-width: 800px;
        padding-right: 10%;
        font-size: large;
        padding-bottom: 15%;
    }
    .bbpistol{
        float: right;
        margin-left: 5%;
        margin-bottom: 1%;
        max-width: 300px;
        height: auto;
    }
    .blowbackBlog{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 10px 25px;
        grid-auto-rows: minmax(50px, auto);
        justify-items: center;
        min-height: 300px;
        
    }
    .blog {
        grid-column: 1/1;
        grid-row: 1;
        background-image: url("http://test.umarexusa.com/images/uploaded/img/Blowback%20Air%20Pistols/MobileBlockIMG.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .blowbackBlog h2{
        grid-column: 1/1;
        grid-row: 1;
        color: white;
        font-size: 1.75em;
        margin: 5% auto;
        text-shadow: 5px 5px 5px black;
    }
    .blogText{
        grid-column: 1/1;
        grid-row: 1;
        color: black;
        text-align: center;
    }
    .blogText p {
        font-size: 1.25em;
        padding: 1%;
        background-color: rgba(255,255,255,0.6);
    }
    .blogButton{
        grid-column: 1/1;
        grid-row: 1;
        height: 15px;
        padding-bottom: 30px;
        width: 300px;
        border: none;
        background-color: white;
        color:#ed1b24;
        font-size: large;
        font-weight: bold;
        margin-top: 5%;
    }
    .fourcolumns{
        grid-row: 4;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 10px 25px;
        grid-auto-rows: minmax(100px, auto);
    }
    .BB{
        grid-column: 1;
        grid-row: 1;
        position: relative;
    }
    .Pellet{
        grid-column: 2;
        grid-row: 1;
        padding-left: 10%;
        border-left: 3px solid lightgray;
    }
    .CO2{
        grid-column: 1;
        grid-row: 2;
        padding-left: 5%;
        position: relative;
    }
    .greenGas{
        grid-column: 2;
        grid-row: 2;
        padding-left: 10%;
        border-left: 3px solid lightgray;
    }
    .imgResize{
        height: auto;
        max-width: 300px;
        margin-top: 3%;
        margin-bottom: 3%;
    }
    .listButton{
        color: white;
        background-color: red;
        border: none;
        padding: 6px 40px;
    }
    li{
        padding-top: 2%;
        padding-bottom: 2%;
    }
    .lawsText{
        padding-top: 10%;
        grid-row: 6;
    }
}

@media (max-width: 690px) {
    .bbpistol {
        float: none;
        margin-left: 3%;
    }
    .fourcolumns {
        display: block;
    }
    .BB, .Pellet, .CO2, .greenGas {
        margin-top: 5%;
    }
    .Pellet, .CO2, .greenGas {
        border-left: none;
        padding: 0;
    }
    ul {
        line-height: 1em;
    }
}

/* Makes iframe responsive for mobile & tablet devices */
.iframe-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

ul {
    text-align: left;
}